.arkaplan{
    background-image:url(resim/fethiye.jpg) ;
    background-size:cover;
    background-position: center;
    width: 1453px;
    height: 800px;
    text-align: center;
    
}

.navbar-brand{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}