/* ana sayfanın css kısmı */
*{
    padding: 0;
    margin: 0;
    /* otomatik sayfadaki boşlukları temizliyor */
}
.banner{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(resim/fethiye1.jpg);
    /* iki renk arası geçiş sağlıyor */
    background-position: center; 
    /* resmi ortalıyor */
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
    /* menümü diğer tarafa aldı */
    
}

.logo{
    border-radius:50%;
    cursor: pointer;
}
.navbar ul li
/* navbarın altındaki ul nin altındaki li leri gösteriyor */
{
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.7s;
}
.navbar ul li a:hover
{
     color: rgb(72, 19, 220);
    
}

.content{
    width: 90%;
    position: absolute;
    /* istediğimiz yere konumlandırcaz yazıyı */
    top:40%;
    color:#fff;
    text-align: center;
}
.contenth1{
    font-size: 72px;
    text-align: center;
}

.content p{
    margin: 10px auto;
   font-size: 20px;
}

.lgn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: rgb(36, 147, 67);
    margin: 20px;
    color: #fff;
    font-weight: 600;
    border-radius:75%;
    cursor: pointer;
    
}

.lgn:hover{
    color: rgb(0, 0, 0);
}
/* iletişim formumun css kısmı */
.formbasligi{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 40px 0px;
   font-weight: 600;
}

.iletisimform{
   width: 520px;
   margin: auto;
}
.iletisimform label,input,select{
    display: block;
    width: 100%;
    margin: 10px 0px;

}
.iletisimform button
{
    display: block;
    margin-top: 55px;
    margin: auto;
    border-radius: 25%;
    cursor: pointer;
}